// Blue Colors
$blue-light: #f2f4ff;
$blue-100: #c8cffd;
$blue-200: #6c80f8;
$blue-main: #4963ff;
$blue-400: #3949ab;
$blue-dark: #0e1366;

// Natural Colors
$natural-50: #f8f8f8;
$natural-100: #ebedf6;
$natural-200: #cbcedc;
$natural-300: #afb2c2;
$natural-400: #9396a9;
$natural-500: #73768a;
$natural-600: #606276;
$natural-700: #4d5062;
$natural-800: #3a3c4b;
$natural-900: #272935;
$natural-1000: #111318;
$natural-white: #fff;

// Yellow Colors
$yellow-150: #fceb9c;
$yellow-200: #ffdf69;
$yellow-main: #ffd849;
$yellow-350: #ffce1a;

// Orange Colors
$orange-main: #ff9349;

// Red Colors
$red-150: #fd8e97;
$red-200: #ff707b;
$red-main: #ff4957;
$red-350: #fb3342;
$red-400: #e61e2d;

// Purple Colors
$purple-dark: #814279;

// Green Colors
$green-150: #7ffbc6;
$green-200: #49ffb2;
$green-main: #2cee9c;
$green-350: #18d183;
$green-400: #18b874;

// Fonts
$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-everett: 'Everett', sans-serif;
$font-family-moderat: 'Moderat', sans-serif;
$font-family-primary: $font-family-moderat;
$font-family-secondary: $font-family-montserrat;

// Screen size
$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';
$xxl: '1600px';
$xxxl: '1920px';

